*{
  box-sizing: border-box;
  margin: 0;
}
.background{
  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
}
main{
  height: 90vh;
  width: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2vh;
  margin: auto;
  position: relative;
  top: 5%;
  padding: 8vh;
}
.logo{
  height: 14vh;
  width: 30vh;
  margin: auto;
  background-image: url("logo.png");
  background-size: cover;
}
.head{
  text-align: center;
  color: rgb(0,255, 0);
  font-size: 5vh
}
.greenhr{
  height: 5vh;
  background-color: rgb(0,255, 0);
}
.input{
  position: absolute;
  top: 33.5%;
  left: 50%;
  transform: translate(-50%,-50%);
}
span{
  color: white;
}
.item{
  font-size: 3vh;
}
.orange{
  background-color: orange;
  width: 50%;
}
.green{
  background-color: green;
  width: 80%;
}
.red{
  background-color: red;
  width: 20%;
}
.hr{
  height: 4vh;
  border-radius: 2vh;
}
.text{
  margin-top: 3vh;
}
